.form{
  width: 60%;
  padding-left: 3%;
}
.logIn{
  padding-left: 3%;
  padding-top: 1%;
}

.cards{
  padding-top: 1%;
  padding-left: 3%;
  padding-right: 3%;
}

.carText{
  padding-top: 1%;
  padding-left: 3%;
}
